<h1>Welcome to Admin Dashboard</h1>
 <%= render partial: 'partials/navbar_admin' %>
 <br>

<section class="top-customers">
  <h3>Top 5 Customers:</h3>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number of Successful Transactions</th>
      </tr>
    </thead>
    <% @top_5_customers.each_with_index do |customer, index|%>
    <div class="cust-<%= customer.id %>">
    <tbody>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= customer.first_name %> <%= customer.last_name %></td>
      <td><%= customer.num_of_transactions %></td>
    </div>
    </tbody>
  </section>
  <% end %>
</table>
</section>

<br>

<section id="incompleted_invoices">
<h3>Incomplete Invoices</h3>
 <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invoice ID</th>
        <th scope="col">Created On</th>
      </tr>
    </thead>
    <% @invoices.not_completed.each_with_index do |invoice, index|%>
    <tbody>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= link_to "Invoice: #{invoice.id}", "/admin/invoices/#{invoice.id}" %></td>
      <td><%= invoice.created_at.strftime("%A, %B %d, %Y") %></td>
    </tbody>
  <% end %>
</table>
</section>
