<h1>Invoice Info for Invoice No.<%= @invoice.id %></h1>

<p><strong>Customer Name: </strong><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p><strong>Status: </strong><%= @invoice.status %></p>
<%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
<p><%= form.select(:status, [['Cancelled', 'cancelled'], ['In Progress', 'in progress'], ['Completed', 'completed']], selected: @invoice.status) %></p>

    <%= form.submit "Update Invoice Status" %>
  <% end %>
<p><strong>Created at: </strong><%= @invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p><strong>Total Revenue:</strong> <%= number_to_currency(@invoice.total_revenue, :unit => '$')%></p>
<p><strong>Discounted Revenue:</strong> <%= number_to_currency(@invoice.discounted_revenue, :unit => '$')%></p>
<br><br>

<h3>Invoice Items</h3>
<% @invoice.invoice_items.each do |invoice_item| %>
<div class="item-<%=invoice_item.item.id%>">

  <p><strong>Item Name:</strong> <%=invoice_item.item.name%></p>
  <p><strong>Quantity:</strong> <%=invoice_item.quantity %></p>
  <p><strong>Sold For:</strong> $<%='%.02f' % (invoice_item.unit_price.to_f/100)%></p>
  <p><strong>Status:</strong> <%= invoice_item.status %></p>
  <section id = "invoice_item-<%= invoice_item.id %>"
  <% if invoice_item.applied_discount && @invoice.status == 'completed'%>
    <p><%= number_to_percentage(invoice_item.applied_discount.discount*100, precision: 0)%> discount applied</p>
    <% end %>
  </section>
    <br>
  <br/>
</div>
<% end %>