<h1>Admin Merchants</h1> 
<%= render partial: 'partials/navbar_admin' %>
<div align='right'>
<a href="/admin/merchants/new" class="link-info">Create New Merchant</a>
</div>


<h3>Top 5 Merchants:</h3>
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Merchant Name</th>
    <th scope="col">Total Revenue</th>
    <th scope="col">Top Selling Date</th>
  </tr>
</thead>
<% @merchants.top_5_merchants.each_with_index do |merchant, index| %>
<section id = "top_5-<%= merchant.id %>">
<tbody>
<tr>
  <th scope="row"><%= index+1 %></th>
  <td><%=link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}"%></td>
  <td><%=number_to_currency((merchant.total_revenue.to_f/100), :unit =>'$') %></td>
  <td><%= merchant.best_day.strftime("%A, %B, %d, %Y") %></td>
</tr>
</tbody>
</section>
<% end %>
</table>
<br><br>


<section id="enabled">
<table class="table table-hover">
<h3> Enabled Items </h3>
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Merchant Name</th>
    <th scope="col">Current Status</th>
    <th scope="col">Enable/Disable</th>
  </tr>
</thead>
<% @merchants.enabled_merchants.each_with_index do |merchant, index| %>
<div class="merchant-<%=merchant.id%>">
<tbody>
<tr>
  <th scope="row"><%= index+1 %></th>
  <td><%= link_to "#{merchant.name}",  "/admin/merchants/#{merchant.id}" %></td>
  <td>Enabled</td>
  <td><%= button_to "Disable", "/admin/merchants/#{merchant.id}", params: {status: "disabled"}, method: :patch %></td>
</tr>
</tbody>
</div>
  <% end %>
</section>


<section id="disabled">
<table class="table table-hover">
<h3> Disabled Items </h3>
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Merchant Name</th>
    <th scope="col">Current Status</th>
    <th scope="col">Enable/Disable</th>
  </tr>
</thead>
<% @merchants.disabled_merchants.each_with_index do |merchant, index| %>
<div class="merchant-<%=merchant.id%>">
<tbody>
<tr>
  <th scope="row"><%= index+1 %></th>
  <td><%= link_to "#{merchant.name}",  "/admin/merchants/#{merchant.id}" %></td>
  <td>Disabled</td>
  <td><%= button_to "Enable", "/admin/merchants/#{merchant.id}", params: {status: "enabled"}, method: :patch %></td>
</tr>
</tbody>
</div>
  <% end %>
</section>




