<h1>Admin Merchants</h1> 
<%= render partial: 'partials/navbar_admin' %>
<br>
<h4>New Merchant Form</h4>
<div class="mb-3 row">
  <%= form_with url: "/admin/merchants", method: :post, local: true do |form| %>
    <%= form.label :name, "Name:" %>
    <div class="col-sm-10">
    <%= form.text_field :name %>
  </div>
  <div class="col-sm-10">
    <%= form.submit "Submit" %>
  </div>
</div>
  <% end %>