<table class="table table-hover">
<h3>Invoice Information</h3>
<thead>
  <tr>
    <th>Row</th>
    <th>Invoice ID</th>
    <th>Invoice Status</th>
    <th>Invoice Creation Date</th>
    <th>Customer Name</th>
    <th>Total Revenue</th>
    <th>Discounted Revenue</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>1</td>
  <td> <%= @invoice.id %></td>
  <td> <%= @invoice.status %></td>
  <td> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></td>
  <td> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></td>
  <td> <%= number_to_currency(@invoice.total_revenue, :unit => '$') %></td>
  <td> <%= number_to_currency(@invoice.discounted_revenue, :unit =>'$') %></td>
</tr>
</tbody>
</table>

<table class="table table-hover">
<h3>Invoice Item Information</h3>
<thead>
  <tr>
    <th>Row</th>
    <th>Item Name</th>
    <th>Item Quantity</th>
    <th>Selling Price</th>
    <th>Status Update</th>
    <th>Applied Bulk Discount</th>
  </tr>
</thead>
<% count = 1 %>
<% @invoice.items.each do |item| %>
  <% item.invoice_items.each do |invoice_item| %>
    <section id = "invoice_item-<%= invoice_item.id %>">
<tbody>
<tr>
  <td><%= count %></td>
  <td> <%= item.name %></td>
  <td> <%= invoice_item.quantity %></td>
  <td> <%= number_to_currency((invoice_item.unit_price.to_f/100), :unit => '$') %></td>
  <div class = 'status'>
  <td> <%= form_with url: "/merchants/#{item.merchant.id}/invoice_items/#{invoice_item.id}", method: :patch, local:true do |f| %>
    <%= f.label :time_balance, "Invoice Item Status"%>
    <%= f.select(:status, options_for_select([['Packaged', 'packaged'], ['Shipped','shipped'], ['Pending', 'pending']], invoice_item.status)) %>
    <%= f.submit 'Update Item Status' %>
      <%end %>
  </td>
  </div>
  <td> 
   <% if invoice_item.applied_discount %>
    <p><%= link_to 'Applied Bulk Discount',merchant_bulk_discount_path(invoice_item.applied_discount.merchant_id, invoice_item.applied_discount.id) %></p>
    <% end %>
    </td>
</tr>
</tbody>
</section>
<% count+=1 %>
<% end %>
<%end  %>
</table>


